include header


block content
    h1= name
    h4 My brothers name is #{name}. 
    p He lives in Barrie and has 3 kids.
    p He also has worked with me for 8 years in transportation co ordinating


    include footer