header
    nav
        ul   
            li 
                a(href='/Mom') Mom 
            li
                a(href='/Bro') Brother <br>
            li
                a(href='/Andrew') Me 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel='stylesheet' href="/stylesheets/main.css">
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
